#include <windows.h>
#include "curve.h"

MyMenu MENU DISCARDABLE 
BEGIN
  MENUITEM "Cu&rve", ID_CUBIC_CURVE
  MENUITEM "C&lear",   ID_CLEAR
  MENUITEM "E&xit",    ID_EXIT
END

MyDB DIALOG DISCARDABLE  0, 0, 198, 95
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Parameters"
FONT 8, "MS Sans Serif"
BEGIN
  DEFPUSHBUTTON   "OK",ID_OK,31,74,50,14
  PUSHBUTTON      "CANCEL",ID_CANCEL,104,74,50,14
  LTEXT           "Scale:",ID_LABEL1,15,14,188,17
  AUTOCHECKBOX     "Show Axes",ID_LABEL2,15,44,108,22
  EDITTEXT        ID_EB1,60,14,40,15,ES_AUTOHSCROLL
END
